<div>
    <div>Guest:</div>
    <div>
        {% for guest in post.guests %}
        <div>{% if guest.blog %}<a target="_blank" rel="noopener noreferrer" href="{{ guest.blog }}">{{ guest.name }}</a>{% else %}{{ guest.name }}{% endif %}</div>
        {% if guest.twitter %}<div><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/{{ guest.twitter }}">@{{ guest.twitter }}</a></div>{% endif %}
        {% endfor %}
    </div>
</div>
<div>
    {% assign timeframe_full_shownotes_seconds = 2629746 %}
    {% assign episode_epoch = post.date | date: "%s" | plus: 0 %}
    {% assign full_shownotes_newer_epoch = 'now' | date: "%s" | minus : timeframe_full_shownotes_seconds %}
    {% if episode_epoch > full_shownotes_newer_epoch %}
        {{ post.content }}
    {% else %}
        <span>Full show notes are at <a href="{{ site.production_url }}{{ post.url }}">{{ site.production_url }}{{ post.url }}</a></span>
    {% endif %}
</div>
